.brands {
    padding: 60px 0 55px;
    background-color: var(--yellow);
    margin-bottom: 120px;
}
.brands__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 120px;
    mix-blend-mode: multiply;
}